<footer class="mt-16 mb-4">
  <p class="text-center text-sm text-white font-medium uppercase">
    Iniciativa de <a
      class="text-primary underline underline-offset-2"
      href="https://github.com/anthonysanlucas/gyetech-calendar"
      target="_blank">
      Código Abierto
    </a>
  </p>
</footer>
