<div class="flex justify-end items-center w-full px-4 lg:hidden">
  <p class="text-sm text-slate-300 mr-6">Ver más</p>
  <div class="box relative w-6 h-14 border-2 border-solid border-primary/40 rounded-full rotate-90">
    <span class="absolute inset-0 m-auto w-5 h-5 rounded-full bg-primary/70 animate-slide-circle">
    </span>
  </div>
</div>
