<div class="flex justify-end items-center w-full px-4 lg:hidden">
  <p class="text-sm text-slate-300 mr-6">Desliza para ver más</p>
  <div
    class="relative flex justify-center items-center w-6 h-14 border-2 border-solid border-primary/40 rounded-full rotate-90">
    <svg
      class="absolute rotate-90 inset-0 m-auto w-4 h-4 animate-slide-circle text-primary/70"
      width="16"
      height="17"
      viewBox="0 0 16 17"
      fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path
        d="M1.00008 7.37889C0.609552 7.76942 0.609551 8.40258 1.00008 8.79311L1.44411 9.23714C1.83463 9.62766 2.46779 9.62766 2.85832 9.23714L7.08586 5.00959C7.47639 4.61907 8.10955 4.61907 8.50007 5.00959L12.7276 9.23714C13.1181 9.62766 13.7513 9.62766 14.1418 9.23714L14.5859 8.79311C14.9764 8.40258 14.9764 7.76942 14.5859 7.37889L8.50008 1.29311C8.10955 0.902581 7.47639 0.902581 7.08586 1.29311L1.00008 7.37889Z"
        fill="currentColor"></path>
      <path
        d="M1.00007 13.9498C0.609551 14.3403 0.609551 14.9734 1.00007 15.364L1.44411 15.808C1.83463 16.1985 2.4678 16.1985 2.85832 15.808L7.08586 11.5805C7.47639 11.1899 8.10955 11.1899 8.50007 11.5805L12.7276 15.808C13.1181 16.1985 13.7513 16.1985 14.1418 15.808L14.5859 15.364C14.9764 14.9734 14.9764 14.3403 14.5859 13.9498L8.50008 7.86397C8.10955 7.47344 7.47639 7.47344 7.08586 7.86397L1.00007 13.9498Z"
        fill="currentColor"></path>
    </svg>
  </div>
</div>
